# Eclipse project files/folders
.settings/
.classpath
.project
log.txt

# IntelliJ project files/folders
*.iml
*.ipr
*.iws
*.bat 
.idea/

# Target folders
bin/
logs/
target/
test-output/

# Static bundling
src/main/resources/static*
src/main/webapp/static/*